<header>
    <figure>
        <picture>
            <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
        </picture>

        <figcaption>
            <p>Robert Spier</p>
        </figcaption>
    </figure>
</header>