<!doctype html>
<html lang="nl">
	
<head>
	<meta charset="UTF-8">
	<meta name="author" content="jouw naam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Pee pee poo poo</title>
	
	<link href="/public/styles/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/iyn6kca.css">
</head>