<header>
    <figure>
        <picture class="box-shadow">
            <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
        </picture>

        <figcaption>
            <p>Robert Spier</p>
            <span><img src="../../public/images/icons/check-icon.svg" alt="Checkmark icon"></span>
        </figcaption>
    </figure>
</header>