<header>
    <figure>
        <picture class="box-shadow">
            
            <img src="{{profile_pic}}" alt="{{userName}}">
        </picture>

        <figcaption>
            {{#each userData}} 
                {{#with name}}
                    <p>{{first}} {{last}}</p>
                {{/with}}
            {{/each}}
            <span><img src="../../public/images/icons/check-icon.svg" alt="Checkmark icon"></span>
        </figcaption>
    </figure>
</header>