<header>
    {{!-- #TODO: make dynamic --}}
    {{!-- <a href="#"><img src="../../public/images/icons/arrow-icon.svg" alt="Back icon"></a> --}}
    
    {{!-- {{#each courseData}}
        <h1>{{title}}</h1>
    {{/each}} --}}

    <h1>{{courseTitle}}</h1>
    <h3>Klassenoverzicht</h3>
</header>