<header>
    {{!-- #TODO: make dynamic --}}
    <a class="btn--small btn--small-arrow" href="{{prevURL}}"><img src="{{../baseURL}}/public/images/icons/arrow-icon.svg" alt="Back icon"></a>
    
    <h1>{{bannerTitle}}</h1>
    <h3>{{bannerSubtitle}}</h3>
</header>