
{{> head }}

    <body class="{{className}}">
        {{{body}}}
        
        <script src="{{../baseURL}}/public/js/color-generator.js"></script>
        <script src="{{../baseURL}}/public/js/toggle-script.js"></script>
    </body>
</html>