
{{> head }}

<body class="yellow-bg">
    {{{body}}}

    <img src="{{../baseURL}}/public/images/cropped-cmd_icon_robot.png" alt="CMD Robot">
    
    <script src="../../public/js/color-generator.js"></script>
</body>