{{> title-banner}}

<main>
    <h2>Jouw {{courseAcr}} klassen</h2>

    <ol class="grid grid--overview">
        {{#each classData}}
            <li>
                <a class="box-shadow" href="#">
                    <div>
                        <h3>{{title}}</h3>
                        <p>{{users.length}} studenten</p>
                    </div>
                    <p>Bekijk klas</p>
                </a>
            </li>
        {{/each}}
    </ol>
</main>