{{> title-banner}}

<main>
    <ul class="grid grid--overview grid--img">
        {{#each userData}}
        <li>
            <a class="box-shadow" href="#">
                <img src="{{profile_pic}}" alt="Profielfoto van {{name.first}} {{name.last}}">
            </a>
        </li>
        {{/each}}
    </ul>

    <button>Teams maken</button>
</main>