{{> title-banner}}

<main>
    <ul class="grid grid--overview grid--img">
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
        <li>
            <a class="box-shadow" href="#">
                <img src="https://avatars.githubusercontent.com/u/6113643?v=4" alt="Robert Spier">
            </a>
        </li>
    </ul>
</main>