{{> banner}}

<main>
    <h2>Jouw gegeven vakken</h2>

    {{!-- course overview --}}
    <ul>
        <li>Project Tech</li>
        <li>Internetstandaarden</li>
        <li>Inleiding programmeren</li>
        <li>Front-end Development</li>
    </ul>
</main>